# Returns the name of the current git branch of this dir
parse_git_branch() {
  git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
}


# Stop redis globally
function redStop() {
  p=${1:-6379}
  eval "redis-cli -h 127.0.0.1 -p $p shutdown"
}


# Start rails server with port
function rs() {
  p=${1:-3000}
  eval "rails server -b 0.0.0.0 -p $p"
}


# Start Postgres Globally
function pgStart() {
  pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start
}

# Make an alias to the pwd.
function mkalias() {
  loc=$(pwd)
  file=~/.aliases
  if grep -Fxq "alias $1" $file
  then
    echo "alias $1 already exists, please edit it or think of a new name. :P"
  else
    echo "alias $1 was not found, creating that now."
    echo "alias $1='cd $loc'" >> $file
    source $file
  fi
}

# Make an alias to the pwd.
function rmalias() {
  str="alias $1="
  file=~/.aliases
  if grep "$str" ~/.aliases
  then
    sed -i '' "/$str/d" $file
    unalias $1
    source $file
    echo "removed $1 from  $file"
  else
    echo "alias $1 does not exist"
  fi
}

touch ~/.aliases
source ~/.aliases
